<div class = "container" style = "margin-top:40px;">
  <a href='/home/newval' style = "font-size:50px;">데이터 추가하기</a><br>
  <a href = "/home/editdata" style = "font-size:50px;">데이터 수정 / 제거</a><br>
  <a href = "/users/sign_out"> Log Out </a>
</div>
